body {
    margin:0;
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-wrap: wrap;
    }

header {
background-color: #EAC926;
display: flex;
width:100%;
}

.primerRenglon {
    display:flex;
    flex-wrap: wrap;
}

.primerRenglon .logo1 {
    
    width: 48%;
 
}

.primerRenglon .buscador {
    width:48%;
    height: 1em;
    display:flex;
    flex-wrap:wrap;
}

.buscador .barra {
    width:100%;
}

header .item {
    justify-content:center;
    width:100%
}

header .texto {
    display:flex;
    flex-wrap: wrap;
    width:100%
    
}

header .menu{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}

section .banner {
    width: 100%;
}
main {
    display: flex;
    flex-wrap: wrap;
    }
.vistaProducto {
    display:flex;
    flex-wrap:wrap;
    background-color:white ;
    flex-direction: column;
    border: solid 1px #ebebeb;
}


main .vistaProducto .producto {
    display: block;
    width: 90vw;
    
  }

main .vistaProducto i {
    color:#39b54a;
    display: block;
    font-size: 1.125em;
    align-self: flex-end;
    margin-right: 3em;
   
}

main .vistaProducto .precio {
    font-size: 1.125em; 
    color: #666;
    display: inline;
    
}

main .vistaProducto .descuento {
    display: inline;
    font-size: 16px;
    color:#39b54a
}
main .vistaProducto .descripciones {
    display: inline;
    color:#666;
    font-size: 16px;}

h1.resaltado {
   color: #666;
}
.resaltar{
    font-weight: bold;
}


.titular { 
    font-size: 24px;
    color: #666;
}

.footer {
    margin: 10px 15px 10px 15px;
    background-color: white;
    font-size: 12px;
    color: #666;
}
.footer i {
   color: #1259c3;;
}
