<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">

</head>
<body>
    <header> 
        <div>
            <div class="primerRenglon">
                <img class= "logo1" src= "/imagenes/logo-mercado-liebre.svg" width="50%" >
            </div> 
            
            <div class="buscador">
                <input class="barra" type="text" placeholder="Buscar productos, marcas y más">
                <i class="fas fa-search"></i>   
            </div>
                                 
            <div class= "texto">
                <p> 
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>
            
            <span class="menu"> 
                <select class="" class="fas fa-bars">
                    <option value="oferta"> Ofertas</option>
                    <option value="tiendas">Tiendas Oficiales</option>
                    <option value="vender"> Vender</option>
                    <option value="help"> Ayuda</option> 
                    <option value="newAccount"> Creá tu cuenta <i class="far fa-address-card"></i></option>
                    <option value="sign-in">Ingresá <i class="fas fa-sign-in-alt"></i> </option>    
                    <option value="more">Más compras<i class="fas fa-shopping-basket"></i></li>
                
                </select>
            </span>
        </div>
    </header>
  
    <section>
        <img class="banner" img src= "/imagenes/img-home-banner.jpg" >
    </section>
     
    <main>
        <section>
            <h1 class="resaltado, titular" >Basado en tu última visita</h1>
        
            <div class="vistaProducto">
                <img class="producto" src= "/imagenes/img-cafetera-moulinex.jpg" alt=" Cafetera Moulinex">
                <i class="fas fa-truck"></i>
                <p class="precio"> $6.770</p>
                <p class='descuento'> 40% OFF</p>
                <p class='descripciones'><b>Cafetera Moulinex Doice Gusto Lorem ipsum, dolor sit amet.</b></p>
            </div>
    
            <div class="vistaProducto">
                <img src= "/imagenes/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019"  class="producto">
                <i class="fas fa-truck"></i>
                <p class= "precio">$150.970</p>
                <p class='descuento'>10% OFF</p>
                <p class='descripciones'><b>Macbook Pro 2019 Lorem ipsum, dolor sit amet</b></p>
            </div>

            <div class="vistaProducto">
                <img src="/imagenes/img-tv-samsung-smart.jpg" alt="Tv Smart Samsung"  class="producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$54.230</p>
                <p class='descripciones'><b>Televisor Samsung Smart TV Lorem ipsum, dolor sit amet</b></p>
            </div>
        </section>
        
        <section>
            <h2 class='titular'>Ofertas</h2>
            <div class="vistaProducto">
                <img src= "/imagenes/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019" class="producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$150.970</p>
                <p class='descuento'>10% OFF</p>
                <p class='descripciones'><b>Macbook Pro 2019 Lorem ipsum, dolor sit amet</b></p>
            </div>
        
            <div class="vistaProducto">
                <img src="/imagenes/img-tv-samsung-smart.jpg" alt="Tv Smart Samsung" class="producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$54.230</p>
                <p class='descripciones'><b>Televisor Samsung Smart TV Lorem ipsum, dolor sit amet</b></p>
            </div>
        
            <div class="vistaProducto">
                <img src= "/imagenes/img-samsung-galaxy-s10.jpg" alt= " Celular Samsung s10" class="producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$89.410 </p>
                <p class='descuento'>20% OFF</p>
                <p class='descripciones'><b>Samsung Galaxy s10 Lorem ipsum, dolor sit amet</b></p>
            </div>
       
        </section> 
    </main>
    
    <footer class="footer">
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
           puntos de pago. ¡Y siempre es seguro!</p>
       
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde $1.999</h3>
        <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos.
           Es un beneficio de Mercado Puntos </p>
        
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
           porque estás siempre protegid@.
        </p>
    
        <div>Copyright © 1999-2019 MercadoLiebre S.R.L.</div>

    </footer>
</body>
</html>