<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
    <header> 
        <div class="header">
            <img src= "/imagenes/logo-mercado-liebre.svg" >
            <input type="text" placeholder="Buscar productos, marcas y más">
            <i class="fas fa-search"></i>
            <p> 
                <i class="fas fa-hand-holding-usd"></i>
             Comprá en cuotas y sin tarjeta de crédito</p>
            <span> 
                <select name="opciones">
                    <option value="oferta"> Ofertas</option>
                    <option value="tiendas">Tiendas Oficiales</option>
                    <option value="vender"> Vender</option>
                    <option value="help"> Ayuda</option> 
                    <option value="newAccount"> Creá tu cuenta <i class="far fa-address-card"></i></option>
                    <option value="sign-in">Ingresá <i class="fas fa-sign-in-alt"></i> </option>    
                    <option value="more">Más compras<i class="fas fa-shopping-basket"></i></li>
                </select>
            </span>
        </div>
    </header>
    <img src= "/imagenes/img-home-banner.jpg" width="100%">
    
    <form action="validar.php" method="POST"> 
        <p>
            <input type="text" name="usuario" placeholder="Nombre de usuario"><br>
            <input type="password" name="contraseña" placeholder="Ingrese su contraseña"> <br>
        </p>
        <p>       
            <button type="submit" class="boton"> <a href="/index.html"></a>Enviar   </a> </button>
        </p>
    </form>

    <footer class="footer">
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
           puntos de pago. ¡Y siempre es seguro!</p>
       
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde $1.999</h3>
        <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos.
           Es un beneficio de Mercado Puntos </p>
        
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
           porque estás siempre protegid@.
        </p>
    
        <div>Copyright © 1999-2019 MercadoLiebre S.R.L.</div>

    </footer>
</body>
</html>